
body {
  margin: 0;
  text-align: center;
  font-size: 200%
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #D49B54;
  font-family: 'Rubik Glitch', cursive;
}

h2 {
  font-size: 2.5rem;
  color: #D49B54;
  font-family: 'Rubik Wet Paint', cursive;
  font-weight: normal;
}

h3 {
  color: #D49B54;
  font-family: 'Teko', sans-serif;
}

a {
  color: #db802a;
  margin: 10px 20px;
  text-decoration: none;
}

p {
  color: #D49B54;
  font-family: 'Amiri', serif;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
}

.top-container {
  background-color: #46244C;
  padding-top: 100px
}

.middle-container {
  background-color: #712B75;
  padding: 100px;
}

.bottom-container {
  background-color: #C74B50;
  padding: 50px 0 20px;
}

.moon {
  position: absolute;
  left: 200px
}
